.settings{
    display: flex;
}
.settingsWrapper{
    flex: 9;   /* by this the whole element push right sitde  */
    padding: 20px;
}

.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.settingsUpdateTitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(50, 65, 201);
}
.settingsDeleteTitle {
    font-size: 30px;
    margin-bottom: 12px;
    color: red;
}
.settingsForm{
    display: flex;
    flex-direction: column;
}

.settingsPP{
    display: flex;
    align-items: center;
    margin: 10px 0;

}

/* keeping image profile pictuer   */
.settingsPP > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingsForm > label{
    font-size: 20px;
    margin-top: 20px;
}

.settingsForm > input {
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightblue;
}
.settingsSubmit {
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}