.top{
    width: 100%;
    height: 50px;
    background-color: white;                                   
    position: sticky; /* change to sticky cz if we scroll it'll not scrolled it always be in the screen*/
    top: 0;
    display: flex; /*creating flexbox to add all element horzontally in topbar*/
    align-items: center;
    font-family: 'Varela', sans-serif;
    z-index: 999;
}

.topLeft,.topRight{
    flex : 3;  /* to creating flexbox*/
    display: flex;
    align-items: center;
    justify-content: center;/*to allign the icons in the centre*/
}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;/*by this when the cursor go to the particulr id elements it will change cursor*/
}
.topCentre{
    flex : 6;
}

.topImage{
    top: 40px;
    width: 40px;
    border-radius: 40%;
    object-fit: cover;
    cursor: pointer;
}

.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.topSearchIcon{
    font-style: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}