.posts{
    flex: 9 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
    justify-content: center;
}                                                         
.text{
    margin-bottom: 5em;
}